@using RefugioAnimal.Models.DTOs
@model AnimalViewModel

@{
    ViewData["Title"] = "Animals";
}

<div class="container">
    @if (Model.Cats is not null && Model.Cats.Any())
    {
        @await Html.PartialAsync("_AnimalList", Model.Cats, new ViewDataDictionary(ViewData)
        {
            { "CardTitle", "Gatos" },
            { "ViewMoreLink", "/cats" },
            { "MaxItems", Model.Cats.Count }
            })
        }   

    @if (Model.Dogs is not null && Model.Dogs.Any())
    {
        @await Html.PartialAsync("_AnimalList", Model.Dogs, new ViewDataDictionary(ViewData)
        {
            { "CardTitle", "Cachorros" },
            { "ViewMoreLink", "/dogs" },
            { "MaxItems", Model.Dogs.Count }
        })
    }
</div>

@section Styles {
    <link rel="stylesheet" href="~/css/animal-list.css" asp-append-version="true" />
}

@section Scripts {
    <script src="~/js/animal.js"></script>
}
