@using RefugioAnimal.Models
@model RefugioAnimal.Views.NGO.NGOAndProtectorModel
@{
}

<div class="container">
	<h4>ONGs e Protetores Pela Ação</h4>
		<div class="">
			<p>
				As Organizações Não Governamentais (ONGs) são entidades sem fins lucrativos que atuam em prol de causas sociais, ambientais, culturais, educacionais, de saúde, entre outras. No contexto do bem-estar animal, as ONGs dedicam-se à proteção, defesa e promoção dos direitos dos animais, atuando em resgates, tratamentos, adoções, campanhas de conscientização, entre outras ações. São formadas por voluntários, doadores, apoiadores e profissionais engajados em fazer a diferença na vida dos animais e da sociedade. 🐾❤️
			</p>
		</div>
		<div class="">
			<p>
				Os Protetores de Animais são pessoas que dedicam seu tempo, recursos e amor aos animais em situação de vulnerabilidade, abandono, maus-tratos e risco. Atuam de forma independente ou em grupos, realizando resgates, tratamentos, cuidados, adoções, campanhas de conscientização, entre outras ações. São verdadeiros heróis que se dedicam a salvar vidas, promover bem-estar e lutar pelos direitos dos animais. 🐾❤️
			</p>
		</div>
	<div class="">
		<p>
			As ONGs ou os protetores independentes podem ser a única chance que os animais têm de sobreviver, receber os cuidados necessários e viver com dignidade, carinho e amor, para que não sejam abandonados ou mal tratados novamente.
		</p>
		<p>Se você deseja colaborar com um Protetor, seja como voluntário, doador, apoiador ou adotante, conheça os parceiros do Refúgio Animal e ajude a transformar vidas! 🐾❤️</p>
	</div>
	<button type="submit" class="btn btn-primary">Cadastre-se</button>
	</div>

<div class="row px-5 mb-3">
	<div class="d-flex justify-content-between align-items-center">
		<h4 class="card-title">ONGs Parceiras</h4>
	</div>
	<p>Card com uma foto que represente a ONG, ao passar o mouse deve aparecer o nome dela e ao clicar o usuário deve ser redirecionado ao link (site ou rede social da ONG)</p>
</div>

<div class="row px-5 mb-3">
	<div class="d-flex justify-content-between align-items-center">
		<h4 class="card-title">Protetores Parceiros</h4>
	</div>
	<p>Card com uma foto que represente o Protetor, ao passar o mouse deve aparecer o nome dele(a) e ao clicar o usuário deve ser redirecionado ao link (site ou rede social do Protetor)</p>
</div>