@{
    ViewBag.Title = "Página Não Encontrada";
}

<div class="d-flex flex-column justify-content-center align-items-center text-center mt-5">
    <h2>Página Não Encontrada</h2>
    <p>Desculpe, a página que você está procurando não existe.</p>
    <img class="404-image" src="/assets/cat-crying.png" alt="Gato chorando" />
</div>