.user-icon {
    font-size: 20px;
}

.navbar {
    font-size: 12px;
}

.logo {
    height: 60px;
}

.navbar-brand {
    font-family: "Montserrat", serif;
    font-weight: 900;
    font-size: 15px;
}

.search {
    height: 30px;
}

footer {
    background-color: #A8D4B9;
}

footer > div {
    color: white;
}