@using RefugioAnimal.Models.DTOs
@model AnimalViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Bem-vindo à aplicação</h1>

    <!-- Verifica se existe um valor armazenado em TempData["UserEmail"] -->
    @if (TempData["UserEmail"] != null)
    {
        <!-- Exibe o e-mail do usuário logado, caso TempData tenha o dado -->
        <p>Usuário logado: <strong>@TempData["UserEmail"]</strong></p>
    }
    else
    {
        <!-- Mensagem exibida caso nenhum usuário esteja logado -->
        <p>Nenhum usuário logado.</p>
    }
</div>

<div class="row px-5 mb-3">
    <div class="d-flex justify-content-between align-items-center">
        <h4 class="card-title">Ajude nossos animais</h4>
        <a class="pe-5 card-link" asp-area="" asp-controller="Animal" asp-action="Index">Ver mais...</a>
    </div>
</div>

@section Styles {
    <link rel="stylesheet" href="~/css/animal.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/animal-list.css" asp-append-version="true" />
}

@section Scripts {
    <script src="~/js/animal.js"></script>
}
